@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@500&family=Ubuntu:wght@700&display=swap');

* {
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: 'Noto Sans', sans-serif;
}

.container {
  /* position: relative; */
  width: 100%;
  height: 95vh;
  background-color: rgb(255, 255, 255);
  overflow: hidden;
}

.wave {
  /* position: absolute; */
  width: 400%;
  height: 100%;
  background-image: url(img/waveGreen.svg);
  animation: wave 8s linear infinite alternate;
}

@keyframes wave {
  0% {
    background-position-x: 0;
  }

  100% {
    background-position-x: -1500px;
  }
}

/* icono */
.userIcon {
  font-size: 70px;
}

/* login */
.container__form {
  background-color: #1bfb4867;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  position: absolute;
  left: 35%;
  top: 20%;
  text-align: center;
  padding: 20px;
}

.login__form label {
  margin: 10px 0;
}

.login__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
}


.login__form input[type="text"],
.login__form input[type="password"] {
  padding: 10px;
  border: 1px solid #ccc;
  width: 80%;
  margin: 10px;
  border-radius: 5px;
}


.login__form input[type="submit"] {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #5cff71;
  color: #000000;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color .5s;
}

.login__form input[type="submit"]:hover {
  background-color: #2bff00;
} 